// ---------------------------------  
// Rafael Corsi @ insper . edu . br
//              2018a
// ---------------------------------
//
// Descritivo   :
//  Faça a divisão do valor de temp 0 por temp 1
//  salve o resultado em temp 3
//
//  temp 3 = temp 0 / temp 1
//
//  assuma que temp 0> temp 1 e ambos inteiros
// ----------------------------------

function Main.main 0

pop temp 0
pop temp 1

label loop

  push constant 0
  push temp 1
  eq
  if-goto end
  // se não, fazemos divisão
  sub
  push constant 1
  pop temp 4
  add

  goto loop

  // temp 1 é nulo
label end
  pop temp 4
  push temp 3

// esse loop sempre deve existir!
// caso contrario o computador vai
// executar lixo de memoria.
label while
  goto while
