// ---------------------------------  
// Rafael Corsi @ insper . edu . br
//              2018a
// ---------------------------------
//
// Projeto      : Projeto I-VM
// File         : 2a-Calculadora
//
// Descritivo   : 
//  Escreva um código em VM que realize a seguinte
//  operação :
//    (14+2)*(8-1)
//
//  O resultado deve ser salvo em temp 1
//
//  para isso utilize a funcao mult disponivel nessa
//  pasta
// 
//  ****************************************************
//  ** A ideia é deixar o Z01 resolver, você não deve **
//  ** simplificar a equação                          **
//  ****************************************************
// ---------------------------------

function Main.main 0
// faz o primeiro parenteses
push constant 14
push constant 2
add
// guarda a soma em temp 0
pop temp 0
// faz o segundo parenteses
push constant 8
push constant 1
sub
// guarda em temp 1
pop temp 1
// chama as temps para rodar a função
push temp 0
push temp 1
call mult 2
// guarda o valor de retorno
pop temp 1

// esse loop sempre deve existir!
// caso contrario o computador vai
// executar lixo de memoria.
label while
  goto while
