// ---------------------------------  
// Rafael Corsi @ insper . edu . br
//              2018a
// ---------------------------------
//
// Projeto      : Projeto I-VM
// File         : 2a-Calculadora
//
// Descritivo   : 
//  Escreva um código em VM que realize a seguinte
//  operação :
//    (14+2)*(8-1)
//
//  O resultado deve ser salvo em temp 1
//
//  para isso utilize a funcao mult disponivel nessa
//  pasta
// 
//  ****************************************************
//  ** A ideia é deixar o Z01 resolver, você não deve **
//  ** simplificar a equação                          **
//  ****************************************************
// ---------------------------------

// Para resolver este exercício preciso:
//  Parte1:
//    1.Soma 14 + 2
//    2.Subtração 8-1
//  Parte2:
//    1.Loop


function Main.main 0
push constant 14
push constant 2
add

pop temp 0

push constant 8
push constant 1
sub

pop temp 1


label loop
  push temp 1 
  pop local 0
  push temp 2 
  pop local 1
  eq
  if-goto end
  push local 0
  push argumento 0
  add
  pop local 0
  push argument 0
  add
  pop local 0
  push local 1
  push constant 1
  sub 
  pop local 1
  goto loop
label end
  push local 0
  return
// esse loop sempre deve existir!
// caso contrario o computador vai
// executar lixo de memoria.
label while
  goto while
