// ---------------------------------  
// Rafael Corsi @ insper . edu . br
//              2018a
// ---------------------------------
//
//  Escreva um código em VM que realize a seguinte
//  operação:
//    (14+2)-(123-1)
//
//  O resultado deve ser salvo em temp 0
//  
//  ****************************************************
//  ** A ideia é deixar o Z01 resolver, você não deve **
//  ** simplificar a equação                          **
//  ****************************************************
// ---------------------------------

function Main.main 0

push constant 14
push constant 2
add
// aqui só a primeira posição da pilha foi usada
push constant 123
// segunda usada
push constant 1
// terceira usada
sub
// faz 3 posição - 2 posição e salva na segunda
sub
// faz 2 posição - 1 posição
pop temp 0


// esse loop sempre deve existir!
// caso contrario o computador vai
// executar lixo de memoria.
label while
  goto while
